<div class="position-relative">
  <!-- HERO BANNER -->
  <div class="hero-banner">
    <div class="hero-content">
      <h1 class="title">Louez un rêve pour la nuit,<br>plongez dans l’inconnu.</h1>
      <p class="content">Et si cette nuit, vous choisissiez votre rêve ? Embarquez dans un<br>voyage onirique unique. Chaque nuit devient une nouvelle aventure.</p>
    </div>
  </div>
</div>

<div id="categories" data-controller="search">

  <!-- BARRE DE RECHERCHE -->
  <div class="search-container" data-controller="reset">
    <%= form_with url: dreams_path, method: :get, class: "d-flex search-form", data: { action: "click->search#fire", search_target: "form" } do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control search-input border border-0",
            placeholder: "Tapez un mot-clé...",
            data: {
              reset_target: "textField",
              action: 'input->reset#changeInput'
            }
      %>
      <%= button_tag(type: 'button', data: { action: "click->reset#clear", reset_target: 'button' }, class: "button-close d-none") do %>
        <i class="fa-solid fa-x icon"></i>
      <% end %>
      <%= submit_tag "Recherche", name: "", class: "btn btn-search search-button" %>
    <% end %>
  </div>

  <!-- CATEGORY -->
  <div class="categories-container">
    <% Dream::DREAM_CATEGORIES.each do |category| %>
      <%= link_to dreams_path(category: category, anchor: "categories"), class: "text-decoration-none category #{ 'active' if params[:category] == category}" do %>
        <%= image_tag "categories/#{category.parameterize}.svg", alt: category  %>
        <p class="category-title"><%= category %></p>
      <% end %>
    <% end %>
  </div>

  <!-- DREAM LIST -->
  <div class="dreamcard-container" data-search-target="results">
    <%= render "dreams/list", dreams: @dreams %>
  </div>
</div>

<!-- CARTE -->
<div data-controller="toggle" class="mt-5 position-fixed" style="bottom: 20px; left: 0; right: 0;">
  <div class="d-flex justify-content-center">
    <button  data-action="click->toggle#fire" data-toggle-target="button" class="btn btn-map" style="z-index: 10;">Carte</button>
  </div>
  <div style="width: 100%; height: 100vh; position: fixed; top: 0; left: 0; z-index: 5"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-toggle-target="togglableElement" class="d-none">
  </div>
</div>
