<div class="position-relative">
  <!-- HERO BANNER -->
  <div class="hero-banner">
    <div class="hero-content">
      <h1 class="title">Louez un rêve pour la nuit,<br>plongez dans l’inconnu.</h1>
      <p class="content">Et si cette nuit, vous choisissiez votre rêve ? Embarquez dans un<br>voyage onirique unique. Chaque nuit devient une nouvelle aventure.</p>
    </div>
  </div>

  <!-- CATEGORY -->
  <div class="categories-container">
    <% Dream::DREAM_CATEGORIES.each do |category| %>
      <button class="category <%= 'active' if params[:category] == category %>">
        <img src="<%= asset_path("categories/#{category.parameterize}.svg") %>" alt="<%= category %>">
        <p class="category-title"><%= category %></p>
      </button>
    <% end %>
  </div>


  <!-- DREAM LIST -->
  <div class="dreamcard-container">
    <% @dreams.each do |dream| %>
      <%  if (dream.picture.attached?) %>
        <div class="dreamcard">
          <img class="dreamcard-image" src="<%= cl_image_path dream.picture.key %>" alt="">
          <div class="dreamcard-info">
            <p class="tag"> <%= dream.category %> </p>
            <h2> <%= dream.title %> </h2>
            <p> <%= dream.description.truncate(100, separator: ' ') %> </p>
            <div class="dreamcard-price">
              <p class="price"><%= number_with_precision(dream.price, precision: 2, separator: ".") %>€</p>
              <p>/nuit</p>
            </div>
            <%= link_to "Voir le rêve", dream_path(dream), class: "button" %>
          </div>
        </div>
      <% else %>
        <div class="dreamcard">
          <img class="dreamcard-image" src="#" alt="">
          <div class="dreamcard-info">
            <h2> <%= dream.title %> </h2>
            <div class="dreamcard-tags">
              <p class="tag"> <%= dream.category %> </p>
            </div>
            <p class="dreamcard-text"> <%= dream.price %> </p>
            <%= link_to "Voir le rêve", dream_path(dream), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div data-controller="toggle" class="mt-5 position-fixed" style="bottom: 20px; left: 0; right: 0;">
    <div class="d-flex justify-content-center">
      <button  data-action="click->toggle#fire" data-toggle-target="button" class="btn btn-primary" style="z-index: 10;">Carte</button>
    </div>
    <div style="width: 100%; height: 100vh; position: fixed; top: 0; left: 0; z-index: 5"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-toggle-target="togglableElement" class="d-none">
    </div>
  </div>
</div>
