<div class="container">
  <div class="row">
    <div class="col text-white">
      <%= simple_form_for(@dream) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :picture, as: :file  %>
        <%= f.input :category, collection: [ "Aventure", "Fantastique", "Mystère", "Relaxant", "Voyage Intérieur"] %>
        <%= f.input :price %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
