<div class="detailed-container border-bottom border-light">
  <div class="detailed-tag">
    <h5 class="">Categorie : <%= @dream.category %></h5>
  </div>
  <div class="image-container">
    <%  if @dream.picture.attached? %>
      <%= cl_image_tag @dream.picture.key, class: "detailed-image", crop: :fill %>
    <% else %>
      <%= image_tag 'johannes-plenio-DKix6Un55mw-unsplash.jpg', class: "detailed-image", alt: "bannière"  %>
    <% end %>
  </div>
  <div class="detailed-info">
    <h2 class=""><%= @dream.title %></h5>
    <p class="card-text dreamcard-info"><%= @dream.description %></p>
    <div class="detailed-price">
      <p class=""><small class="text-body-secondary"><%= @dream.price %></small></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-white">
      <%= simple_form_for [@dream, @booking] do |f| %>
        <%= f.input :reservation_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } },
                    label: 'Date de réservation'%>
        <%= f.submit "Réserve ton rêve !"%>
      <% end %>
    </div>
  </div>
</div>
