<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid d-flex justify-content-between align-items-center p-0">

    <!-- Logo à gauche -->
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "dreambnb.svg"%>
    <% end %>

    <%#<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <!-- Menu centré -->
     <div class="d-flex justify-content-center flex-grow-1">
        <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to "Louer un rêve", dreams_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "Ajouter un rêve", new_dream_path, class: "nav-link text-white" %>
            </li>
        </ul>
      </div>

      <!-- Menu utilisateur à droite -->
      <div class="d-flex ms-auto">
        <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown profil-size">
            <%  if (current_user.photo.attached?) %>
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
              </a>
            <% else %>
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
              </a>
            <% end %>
              <i class="fa-solid fa-angle-down ms-2" style="color: #ffffff;"></i>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Tableau de bord", dashboard_path(), class: "dropdown-item" %>
                <%= link_to "Autre action", "#", class: "dropdown-item" %>
                <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Connexion", new_user_session_path, class: "nav-link text-white connect" %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>
