<h1>Dashboard</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.user_id %>
      <%= booking.dream.title %>
      <%= booking.reservation_date %>
      <%= link_to "Annuler réservation",
      booking_path(booking),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>

<ul>
  <% @dreams.each do |dream| %>
    <li>
      <%= dream.user_id %>
      <%= dream.title %>
      <%= link_to "Supprimer rêve",
      dream_path(dream),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>
