<!DOCTYPE html>
<html>
  <head>
    <title>Rbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
  </head>

  <body>
    <!-- NAVBAR -->
    <%= render "shared/navbar" %>

    <!-- GLOBAL CONTAINER -->
    <div class="global-container">
      <%= render "shared/flashes" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <%= image_tag "dreambnb.svg" %>
      <p>Louez un rêve pour la nuit.</p>
    </div>
  </body>
</html>
